/* Fill me in :) */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh; /* 1 vh = 1% of the view height */
  background-color: var(--cream);
}

.title-box {
  position: absolute;
  top: 25%;
  background-color: var(--slateblue);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 600px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
}

.description {
  font-size: 1rem;
  color: var(--silver);
}

.logout-button {
  font-size: 1rem;
  color: var(--black);
  background-color: var(--silver);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
}
